.NewBookTitleModal {
    margin-top: 1%;
}

.EventNoti {
    text-align: center;
}

.NewBookStandModal {
    padding: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7%;
}
.NewBookStandModal img {
    min-height: 400px;
    max-width: 400px;
    vertical-align: middle;
    align-self: center;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.EventDescriptionModal {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1em;
    line-height: 2em;
}
@media all and (max-width:768px) {
    .EventDescriptionModal {
        font-size: 0.8em;
     }
}
