.BookDetail {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    margin: 40px 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    float: left;
}
.icon {
    color:#D32F2F;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    transition: 1s;
}
.BookCoverStand {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    max-width: 40%;
    position: absolute;
    top: 5%;
    left: 2%;
    text-align: center;
}
.BookCoverStand img {
    min-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    align-self: center;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */;
}
.BookDetailInfo {
    background-color: #FFFFFF;
    height: 80%;
    width: 70%;
    position: absolute;
    right: 0;
    margin-top: 4%;
    line-height: 100%;
}
.BookDetailInfo #title {
    font-size: 2em;
}
.BookDetailInfo #subtitle {
    font-size: 1em;
}
.BookDetailInfo h1 {
    color: #000000;
    font-size: 1.8em;
    padding: 10px;
    padding-right: 8px;
    height: 100%;
    width: 100%;
    text-align: left;
    position: relative; left: 21%;
}
.Authors {
    margin-top: 5%;
    color:#000000;
    font-size: 1.2em;
    /* margin-left: 10px; */;
    text-align: left;
    position: relative; left: 22.5%
}
.BookDetailInfoList {
}
.BookDetailInfoList .InfoItem {
    width:40%;
    margin-top: 3%;
    margin-left: 23%;
    align-items: center;
    float: left;
}
.BookDetailInfoList .LItem {
    display: inline-block;
    font-size: 1em;
    text-align: left;
    margin-right: 20%;
    float: left;
}
.BookDetailInfoList .RItem {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin-left: 10%;
}
.BookDescriptions {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin: 150px;
    text-align: justify;
    float: left;
    margin-top: 40%;
    line-height: 180%;
}
.Likes {
    border-top: 0.5px solid #CFD8DC;
    height: 40px;
    width: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Likes span {
    color: #607D8B;
    font-size: 0.8em;
    padding-left: 5px;
}
.PeopleLike {
    background-color: #FFFFFF;
    height: 2.5vh;
    width: 2.5vh;
    border: 1px solid #CFD8DC;
    border-radius: 50%;
    margin-left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Likes img {
    height: 80%;
    vertical-align: middle;
}