.BookDetailUpper {
    background-color: #FFFFFF;
    height: 50%;
    width: 100%;
    position: relative;
    transition: 0.3s;
    float: left;
    margin-bottom: 5%;
}
@media all and (max-width:768px) {
    .BookDetailUpper {
        display:flex;
        flex-direction: column-reverse;
        padding-bottom: 15%;
    }
}
.BookCoverStand {
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    max-width: 40%;
    position: absolute;
    top: 5%;
    left: 2%;
    text-align: center;
}
@media all and (max-width:768px) {
    .BookCoverStand {
        height: 50%;
        width: 100%;
        max-width: 100%;
        position: relative;
    }
}
.BookCoverStand img {
    min-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    align-self: center;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */;
    float: left;
}
.BookDetailInfo {
    background-color: #FFFFFF;
    height: 80%;
    width: 70%;
    float: right;
    margin-top: 4%;
    line-height: 100%;
}
@media all and (max-width:768px) {
    .BookDetailInfo {
        width: 100%;
    }
}
.BookDetailInfo #title {
    font-size: 2.5em;
    width: 100%;
    text-align: center;
}
@media all and (max-width:768px) {
    .BookDetailInfo #title {
        font-size: 1.5em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.BookDetailInfo #subtitle {
    font-size: 1.5em;
    width: 100%;
    color: #515280;
    text-align: center;
}
@media all and (max-width:768px) {
    .BookDetailInfo #subtitle {
        font-size: 0.9em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.BookDetailInfo #authors {
    margin-top: 5%;
    color:#000000;
    font-size: 1.5em;
    text-align: center;
}
@media all and (max-width:768px) {
    .BookDetailInfo #authors {
        font-size: 0.9em;
    }
}
.BookDetailInfoList {
}
.BookDetailInfoList .InfoItem {
    width: 50%;
    margin-top: 3%;
    margin-left: 23%;
    align-items: center;
    float: left;
}
@media all and (max-width:768px) {
    .BookDetailInfoList .InfoItem {
        width: 90%;
        margin-top: 3%;
        margin-left: 10%;
        font-size: 0.8em;
    }
}
.BookDetailInfoList .LItem {
    display: inline-block;
    font-size: 1em;
    text-align: left;
    margin-right: 20%;
    float: left;
}
.BookDetailInfoList .RItem {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin-left: 10%;
}
.DetailCart {
    position: absolute;
    width: 50%;
    right: 5%;
    bottom: 0%;
}
@media all and (max-width:768px) {
    .DetailCart {
        position: absolute;
        width: 150%;
        right: 5%;
        bottom: 0%;
     }
}
.BookDescriptions {
    margin-top: 5%;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    float: left;
    line-height: 180%;
}
@media all and (max-width:768px) {
    .BookDescriptions {
        font-size: 0.9em;
     }
}