.User {
    background-color: #FAFAFA;
    height: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UserPictire {
    background-color: pink;
    height: 8vh;
    width: 8vh;
    border: 1px solid #FAFAFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UserPictire img {
    height: 80%;
    vertical-align: middle;
  }
  .Notification {
    background-color: #E57373;
    color: #FFFFFF;
    font-size: 8px;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    z-index: 13;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-top: 2vh;
    top: 2vh;
    right: -15px;
    cursor: pointer;
    visibility: visible;
  }
  