footer {
    background-color: #FAFAFA;
    height: 14vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media all and (max-width:768px) {
    header {
        display: inline;
        height: 10vh;
    }
}

.FooterInfo {
    display: flex;
}

.LeftFooter {

}

.RightFooter {
    
}