.NavigationPanel {
    height: 6vh;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #CFD8DC;
}

/* .PopularBy {
    background-color: #FAFAFA;
    height: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    color: #78909C;
}
.PopularBy span {
    margin-left: 40px;
    font-weight: bold;
} */

.SearchBar {
    background-color: #FAFAFA;
    font-size: 16px;
    height: inherit;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.NavBar {
    height: inherit;
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}