.BookBasketTitle {
    margin-top: 5%;
    font-size: 3em;
}
.BookBasketTotalCount {
    text-align: right;
    margin-right: 10%;
    font-weight: bold;
}

.BookBasketSummary {
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 80%;
    background-color: pink;
    font-size: 3em;
    font-weight: bold;
    border-radius: 2em;
}