.BookBasketTitle {
    width: 75%;
    height: 50%;
    margin: auto auto;
    display: flex;
}
@media all and (max-width:768px) {
    .BookBasketTitle {
        width: 100%;
    }
}
.BookBasketTitle .BookBasketWonImg {
    width: 15%;
    margin-left: 20%;
}
@media all and (max-width:768px) {
    .BookBasketTitle .BookBasketWonImg {
        margin-left: 30%;
    }
}
@media all and (max-width:425px) {
    .BookBasketTitle .BookBasketWonImg {
        margin-left: 20%;
    }
}

.BookBasketTitle h1 {
    margin-top: 5%;
    font-size: 3.2em;
    font-weight: bold;
}
@media all and (max-width:768px) {
    .BookBasketTitle h1 {
        font-size: 2em;
    }
}

.BookBasketTotalCount {
    text-align: right;
    margin-right: 10%;
    font-weight: bold;
}
.BookBasketSummary {
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 80%;
    background-color: rgb(214, 214, 214);
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
@media all and (max-width:768px) {
    .BookBasketSummary {
        font-size: 1.5em;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 0.5em;
    }
}
.BookBasketSummary .OriginalPrice {
    color: gray;
}

#OrderButton {
    width: 55%;
    height: 50px;
    font-size: x-large;
}
